.footer-fly{
    
        background-image: url('../../images/footer-flyy.png');
        background-size: cover;
        
    }
.img-gradient{
    background-image: url('../../images/footer-gradient2.png');
    background-size: cover;
}
