.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    height: 280px;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background-image: url('../../images/sydney.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.item:nth-child(2) {
    background-image: url('../../images/norway.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.item:nth-child(3) {
    background-image: url('../../images/ireland.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.item:nth-child(4) {
    background-image: url('../../images/paris.jpg');
    background-size: cover;
    background-attachment: fixed;
}
/* Changes position of caption */

.carousal-caption-cm {
    font-size: 60px;
    color: #ffffff;
    font-weight: 200;
}
.carousal-caption-bold{
    font-weight:600;
    font-size: 45px;
}
.navbar li a:hover {
    background-color: transparent;
}

.navbar-absolute-top,
.navbar-absolute-bottom {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-top:30px;
    margin-left:100px;
    margin-right:100px;
}

.bg-toggle {
    background-color: red;
    padding: 5px 10px;
    vertical-align: middle;
    width: 40px;
    text-align: center;
}

h2.logo {
    font-size: 28px;
    color: white;
    display: inline-block
}


.navbar-right {
    margin-right: 20px !important;
    margin-top: 20px !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.icon-bar {
    color: white;
    border-color: white;
    background-color: white;
    font-size: 24px;
}

.navbar-toggle {
    background-color: #e62000;
    border-radius: 0px;
    margin-top: 30px;
}
.search-button{
    height:55px;
    width:150px;
    border-radius: 30px;
    background-color:#f64500;
    font-size:16px;
    font-weight: 600;
    text-transform: uppercase;
    border:none;
}
.input-lg {
    height: 55px;
    border-radius: 30px;
    font-weight: 600;
}
.input-group.search-group{
    width: 550px !important;
    margin: 0 auto;
}
