body{
    font-family: 'Raleway', sans-serif !important;
}
.navbar-nav>li>a{
    color:#ffffff;
    font-weight: 800;
    text-transform: uppercase;

}
h1.page-heading{
    font-size:30px;
    font-weight: 600;
}
.text-small{
    font-size:25px;
   
}
.footer-text{
    font-weight: lighter;
    font-size: 20px;
}